h1{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}
#p1{
    background-image: url(/images/pic_bulbon.gif);
    background-repeat: no-repeat;
}
#d1{
    background-color: rgb(0, 255, 64);
    margin: 50px 20px 40px 50px;
    padding: 30px;
}